* {
	box-sizing: border-box;
	margin: 0;
}

/* --------- HEADER ---------- */
.header {
	color: #333;
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	font-size: 24px;
	height: 25px;
	letter-spacing: -0.08em;
	line-height: 25.18px;
	position: absolute;
	top: 40px;
	left: 77px;
	width: 150px;
}

/* --------- BODY ---------- */
.scarecrow-img {
	position: absolute;
	left: 77px;
	top: 265px;
}

h1 {
	position: absolute;
	color: #333333;
	font-family: 'Space Mono', monospace;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	height: 190px;
	line-height: 94.78px;
	letter-spacing: -0.035em;
	top: 265px;
	left: 736px;
	width: 586px;
}

.main-text {
	color: #4F4F4F;
	font-family: 'Space Mono', monospace;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	height: 108px;
	line-height: 35.54px;
	letter-spacing: -0.035em;
	position: absolute;
	top: 491px;
	left: 736px;
	width: 381px;
}

.button {
	color: #FFF;
	background: #333333;
	font-family: 'Space Mono', monospace;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20.73px;
	letter-spacing: -0.035em;
	position: absolute;
	width: 216px;
	height: 68px;
	left: 740px;
	top: 663px;
	text-decoration: none;
}

a {
	color: #FFF;
	text-decoration: none;
}

/* --------- FOOTER ---------- */

.footer {
	color:#BDBDBD;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	height: 14px;
	letter-spacing: 0.03em;
	line-height: 17.07px;
	position: absolute;
	top: 1039px;
	/* left: 50%; */
	text-align: center;
	width: 100%;
}

.username {
	color: #BDBDBD;
	font-weight: 700;
	text-decoration: underline;
}

/* ----- MEDIA QUERIES ----- */

@media only screen and ( max-width: 375px) {
	* {
		box-sizing: border-box;
		margin: 0;
	}
/* --------- HEADER QUERY ---------- */
	.header {
		top: 20px;
		left: 24px;
	}

	/* --------- BODY QUERY ---------- */
	.scarecrow-img {
		left: 44px;
		top: 109px;
		width: 286.83px;
		height: 220.35px;
	}

	h1 {
		font-size: 48px;
		height: 142px;
		line-height: 71.09px;
		top: 407px;
		left: 24px;
		width: 350px;
	}

	.main-text {
		font-size: 18px;
		height: 81px;
		line-height: 26.66px;
		letter-spacing: -0.035em;
		top: 579px;
		left: 23px;
		width: 328px;
	}

	.button {
		left: 24px;
		top: 726px;
	}

/* --------- FOOTER QUERY ---------- */
	.footer {
		height: 17px;
		position: absolute;
		top: 908px;
		left: 12.5px;
		text-align: center;
		width: 350px;
	}
}
